@import url('https://fonts.googleapis.com/css?family=PT+Sans+Narrow');
@import url('https://fonts.googleapis.com/css?family=Roboto:500i');
* { margin:0; padding:0; box-sizing:border-box; }
body {
	color: #333;
	font-family: 'Arial', sans-serif;
	font-size: 28px;
	font-weight: 400;
}


h1 {
	font-family: 'Roboto' , sans-serif;
	font-size: 1.5em;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: underline;
	text-align: center;
	padding-bottom: 1em;
}

h2 {
	text-align: center;
	padding-bottom: 1em;
}

h3 {
	font-size: 1.25em;
	font-weight: bold;	
	border-bottom: 4px solid black;
	display: inline-block;
}

ul {
	padding-left:1.25em;
	font-size: 18px;
}

#intro {
	background: url(../images/Bay.jpg);
	background-repeat:no-repeat;
	background-size:cover;
	height: 90vh;
	padding: 4em;
}

#intro {
	text-align: center;
	font-size: 45px;
	color: #333;
	padding: 0 2em 0 2em;
}

#about {
	font-family: 'PT Sans Narrow', sans-serif;
	font-size: 20px;
	font-weight: normal;
	text-align: center;
	padding: 1em;
}

#properties_1 {
	font-family: 'PT Sans Narrow', sans-serif;
	background-color: grey;
	border: 1px black solid;
	padding: 5 5 5 5em;
	margin: 0 5 0 5%;
	text-align: center;
}

nav {
	text-align: center;
	word-spacing: .5em;
	font-family: 'Arial', sans-serif;
	font-size: 1em;
	font-weight: 'normal';
	padding: 0 5em 0 5em;
	background-color: #333;
}

a {
	background-color: #333;
	color: white;
	text-decoration: none;
	display: inline;
	padding: 10 0 10 0px;
	width: 75px;
}

a:hover {
	background-color: red;
}

img {
	width: 25%;
	margin: auto;
	display: inline-block;
	float: left;
}

#social-icon {
	display: inline block;
	width: 4em;
	float: right;
}

#theme {
	text-align: center;
	color: red;
	font-size: 40px;
	font: bold;
	padding: 10%;
	text-transform: uppercase;
}
#cta {
	text-align: right;
	float: right;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}



