* { margin:0; padding:0; box-sizing:border-box; }
body {
	color: #0000000;
	font-family: Arial, sans-serif
	font-size: 18px;
	font-weight: 400;
}

h1 {
	font-size: 2em;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: underline;
}
h3 {
	font-size: 1.25em;
	font-weight: bold;	
}
ul {
	padding-left:1.25em;
}

#intro {
	background: url(../images/jelsa.jpg);
	background-repeat:no-repeat;
	background-size:cover;
	height: 90vh;
	padding: 4em;
}