@import url('https://fonts.googleapis.com/css?family=PT+Sans+Narrow');
@import url('https://fonts.googleapis.com/css?family=Roboto:500i');
* { margin:0; padding:0; box-sizing:border-box; }
body {
	color: #000000;
	font-family: 'Arial', sans-serif;
	font-size: 28px;
	font-weight: 400;
}


h1 {
	font-family: 'Roboto' , sans-serif;
	font-size: 1.5em;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: underline;
	text-align: center;
}

h2 {
	text-align: center;
	padding-bottom: 1em;
}

h3 {
	font-size: 1.25em;
	font-weight: bold;	
	border-bottom: 4px solid black;
	display: inline-block;

}
ul {
	padding-left:1.25em;
	font-size: 18px;
}

#intro {
	background: url(../images/jelsa.jpg);
	background-repeat:no-repeat;
	background-size:cover;
	height: 90vh;
	padding: 4em;
}
#intro {
	text-align: center;
	font-size: 45px;
	color: white;
	padding: 0 2em 0 2em;
}

#about {
	font-family: 'PT Sans Narrow', sans-serif;
	font-size: 20px;
	font-weight: normal;
	text-align: center;
	padding: 1em;
	border-color: #333;
}

#properties_1 {
	font-family: 'PT Sans Narrow', sans-serif;

}
nav {
	text-align: center;
	font-family: 'Arial', sans-serif;
	font-size: 1em;
	font-weight: 'normal';
	padding: 0 3em 0 3em;
	background-color: #333;
}
#two {
	background: black;
	color: white;
}
