* { margin:0; padding:0; box-sizing:border-box; }
body {
	color: #0000000;
	font-family: 'Arial', sans-serif
	font-size: 28px;
	font-weight: 400;
}

@import url('https://fonts.googleapis.com/css?family=Roboto:500i');
h1 {
	font-family: 'Roboto' , sans-serif;
	font-size: 1.5em;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: underline;
	text-align: center;

}
h3 {
	font-size: 1.25em;
	font-weight: bold;	
}
ul {
	padding-left:1.25em;
}

#intro {
	background: url(../images/jelsa.jpg);
	background-repeat:no-repeat;
	background-size:cover;
	height: 90vh;
	padding: 4em;
}
#intro {
	text-align: center;
	font-size: 45px;
	color: white;
}