@import url('https://fonts.googleapis.com/css?family=PT+Sans+Narrow');
@import url('https://fonts.googleapis.com/css?family=Roboto:500i');
* { margin:0; padding:0; box-sizing:border-box; }
body {
	color: #333;
	font-family: 'Arial', sans-serif;
	font-weight: 400;
	font-size: 20px;
}


h1 {
	font-family: 'Roboto' , sans-serif;
	font-size: 1.5em;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: underline;
	text-align: center;
	padding: auto;
}

h2 {
	text-align: center;
	padding-bottom: 1em;
}

h3 {
	font-size: 1.5em;
	font-weight: bold;
	border-bottom: 4px solid black;
	display: inline-block;
}

ul {
	padding-left: 1.25em;
	font-size: 18px;
}

#intro {
	background: url(../images/Bay.jpg);
	background-repeat:no-repeat;
	background-size:cover;
	height: 90vh;
	padding: 1em;	
	text-align: center;
	font-size: 45px;
	color: #333;
}

#about {
	font-family: 'PT Sans Narrow', sans-serif;
	font-weight: normal;
	padding: 4em 1em;
	width: 35em;
	margin: auto;
}

#properties_1 {
	font-family: 'PT Sans Narrow', sans-serif;
	background-color: grey;
	border: 1px black solid;
	padding: 5 5 5 5em;
	margin: 0 5 0 5%;
}

.properties {
	width: 100%;
	margin: auto;
	padding: 2em 0;
}

.properties img {
	width: 40%;
	margin: auto;
	padding: 1em;
	float: left;
}

.properties > div {
	width: 45%;	
	float:left;
	padding: 0 1 0 1em;
}

.properties:nth-of-type(even) > * {
	float:right;
}

nav {
	text-align: center;
	word-spacing: .5em;
	font-family: 'Arial', sans-serif;
	font-size: 1em;
	font-weight: 'normal';
	padding: 0 5em 0 5em;
	background-color: #333;
}

nav a {
	background-color: #333;
	color: white;
	text-decoration: none;
	display: inline-block;
	padding: 1em;
}

a:hover {
	background-color: red;
}

#social-icon {
	display: inline-block;
	float: center;
}

#theme {
	text-align: center;
	color: red;
	font-size: 40px;
	padding: 20%;
	text-transform: uppercase;
}

.cta {
	/* text-align: right; */
	/* float: right; */
}

.clearfix:after, .properties:after, #social-icon:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;	
	height: 0;
}

p + p {
	margin-top: 1em;
}

